<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
	<hr class="star">
      </hr>
	</div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
<br>
            I am a huge people-person a few years ago a serendipitous event inspired me to get into cyber security and I love it! There is nothing greater than the thrill of breaking into computers, reverse engineering binaries and exploiting vulnerabilities and finally using the gained knowledge to stop the unauthorized.<br>

<br>
I love solving problems and developing cool new stuff's and leveraing computers to do the dirty work for me ;)
<br>

<br>
When I'm not working I am participating in capture the flag competitions , playing ches, doing competitve coding and watching conference recordings
<br>
<br>I love meeting new people and learning new things so please feel free to say hello and share a story with me.
        </p>
        <p>

        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Google Summer of Code 2019 Organisation - NetBSD Foundation , Worked on implementation of <a href='#'> DRM ioclts </a> and conversion of 32bit to 64bit syscalls  for Netbsd kernel
    			</li>
    			<li>
            Winner of Smart India Hackathon 2019 Hardware edition in which we built a <a href='#'> customer emotion analysis system for retail stores</a>
    			</li>
    			<li>
            Runner up in Smart India Hackathon 2018 Hardware edition in which we built a <a href='https://github.com/Smart-Health-Care'> Medicine Dispensing Kiosk </a>
    			</li>
          <li>
            Finalist in international Capture the Flag competition conducted by Government of India known as <a href='https://www.internetsociety.org/events/gccs-2017/'>GCCS</a>
          <li>
            Winner of Hardware Capture the Flag Competition conducted by <a href='https://www.quarkslab.com/en/'>Quark Labs</a> at Nullcon 2018
    			<li>
            Winner of iCamp 2019 conducted by <a href='http://www.forgeforward.in/'> Forge Accelarator </a>, where in we built a handwash monitoring device using Kinect Gesture Tracking
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
