<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
      		<hr class="star">
		</hr>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				<b>Reverse Engineering and Binary Exploitation</b>. I am very much intrested in working with everything low level!.I am currently competing in online platforms such as <a href="#">Rootme</>,<a href='#'>Hackthebox </a>
			  </li>
			  <li>
				  <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Chess</b>. I find playing chess is the best execercise for my brain, I spend one to two hours daily to solve chess puzzles and catch up with games online
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I am currently working on writing my own programming language using techonologies such as llvm. The language would posses the same speed as comipled languages with syntax like dynamically typed languages.
    		</li>
  			<li>
         As a part of my time here at forge, we have been working on smart health checkup kiosk. Which could analyze the basic health parameters of the patient and generate reports
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Open Source Contributer of <a href='#'>Radare2</a>
  			</li>
  			<li>
  	   Open Source Contributer of <a href='#'>Netbsd Foundation </a>
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
